.footer {
	position: fixed;
	@include breakpoint(small only) {
		//position: relative;
	}
	bottom: 0;
	left: 0;
	background-color: transparent;
	width: 100%;
	padding: 1rem;
	height: auto;

	display: flex;
	justify-content: center;//space-around;

	&__container {
		height: 4rem;
		width: 100%;
		background-color: $primary-color-green;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: center;
		padding: 10px;
		a {
			@include breakpoint(small only) {
				padding-bottom: 0 !important;
			}
			color: $text-color !important;
			border-color: $text-color !important;
			&:hover {
				border-color: $primary-color-highlight !important;
			}
		}
	}
	p {
		color: $text-color;
		a {
			color: $text-color;
		}
	}
}