* {
  box-sizing: border-box;
}
p, a, div, h1, h2, h3, h4, h5, h6 {
  font-family: monospace, sans-serif;
}

#content {
		@include breakpoint(small) {
			padding-top: 5rem;
			padding-bottom: 6rem !important;
		}
	  @include breakpoint(large) {
		margin-top: 5rem;
		margin-left: 1.25rem;
	  }
	padding-bottom: 4rem;
}
body {
  background-color: $primary-color-background;
}

.button {
	margin-bottom: 0 !important;
}

.reveal-overlay {
	background-color: rgba(10, 10, 10, 0.65);
}
.reveal {
	overflow: hidden;
	background-color: $primary-color-background;
	border: none;
}

// HOME

.home-intro {
	.home-photo {
		margin-left: auto;
		margin-right: auto;

		margin-bottom: 1rem;
		&__image {
			@include breakpoint(large) {
				width: 400px;
			}
			@include breakpoint(medium) {
				width: 300px;
			}
			@include breakpoint(small) {
				width: 200px;
			}
		}
	}


}

.portrait {

	background-image: url("./assets/olefoto.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: grey;

	box-shadow: 6px 4px 13px #888888;
	border: solid 1px #888888;
	@include breakpoint(small only) {
		height: 200px;
		width: 200px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	@include breakpoint(medium) {
		height: 400px;
		width: 400px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

@keyframes rotateExpandMore {
	from {
		opacity: 1;
		transform: rotate(0deg);
	}
	to {
		opacity: 0.5;
		transform: rotate(180deg);
	}
}
@keyframes rotateExpandLess {
	from {
		opacity: 0.5;
		transform: rotate(-180deg);
	}
	to {
		opacity: 1;
		transform: rotate(0deg);
	}
}

.home-show-more {
	position: fixed;
	top: 25rem;
	right: 10%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $secondary-color-background;
	background-image: url("./assets/ic_expand_more_black_24px.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;


	@include breakpoint(small only) {
		right: 5% !important;
		top: 15rem !important;
	}

	//transition: .3s ease-in-out;
	&:hover {
		background-color: $primary-color-highlight;
	}
	&.expanded {
		animation: 0.5s rotateExpandMore linear forwards;
	}
	&.contracted {
		animation: 0.5s rotateExpandLess linear forwards;
	}
}

// OPTIONS

// ABOUT

// PUBLICATIONS
.publications-item {
	margin-bottom: 10px;
	display: flex;
	&:hover {
		cursor: pointer;
		.publications-item__title {
			text-decoration: underline;
		}
	}
	&__title {

	}
	&__info {

	}
	&__icon {
		align-self: center;
		width: 80px;
		height: 80px;
		background-image: url("./assets/ic_arrow_downward_white_24dp_2x.png");
		background-repeat: no-repeat;
		cursor: pointer;
		&:not(.noaccess) {
			transform: rotate(270deg);
		}
		&.noaccess {
			border-radius: 50%;
			background-color: grey;
			background-image: url("./assets/ic_close_white_24dp_1x.png");
		}
	}
}

// SHARED
.custom-accordion {
	&__header {
		height: 80px;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		&:hover {
		}
	}
	&__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		a {
			color: $primary-color-green;
		}
	}
	&__icon {
		height: 50px;
		width: 50px;
		background-image: url("./assets/ic_expand_more_black_24px.svg");
		background-repeat: no-repeat;
		transform: rotate(00deg);
		background-position: center;
		align-self: center;
		&.active {
			animation: 0.5s rotateExpandMore linear forwards;
		}
		&:not(.active) {
			animation: 0.5s rotateExpandLess linear forwards;
		}
	}
	&__text {
		color: $primary-color-green;
	}
}