* {
  box-sizing: border-box;
}
p, a, div, h1, h2, h3, h4, h5, h6 {
  font-family: monospace, sans-serif;
}

#content {
	@include breakpoint(small) {
		padding-top: 5rem;
	}
  @include breakpoint(large) {
    margin-top: 5rem;
    margin-left: 1.25rem;
  }

}
body {
  background-color: $primary-color-background;
}

// HOME
@keyframes expandText {
	from {
		width: 100%;
		//position: relative;
		.home-photo {
		//	width: 20%;
		//	margin-left: auto;
		//	margin-right: auto;
		//	margin-bottom: 1rem;
		//	&__image {
		//		@include breakpoint(large) {
		//			width: 400px;
		//		}
		//		@include breakpoint(medium) {
		//			width: 300px;
		//		}
		//		@include breakpoint(small) {
		//			width: 200px;
		//		}
		//	}
		}
		p {
			text-align: center;
		}
	}
	to {
		//display: flex !important;
		//flex-direction: row !important;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		.home-photo {
			margin-left: 0 !important;
			margin-right: 1rem !important;
			&__image {
				height: auto;
				width: 200px !important;
			}
		}
		p {
			text-align: left;
		}
	}
}

@keyframes contractText {
	from {

	}
	to {

	}
}

.home-intro {
	.home-photo {
		width: 20%;
		margin-left: auto;
		margin-right: auto;

		margin-bottom: 1rem;
		&__image {
			@include breakpoint(large) {
				width: 400px;
			}
			@include breakpoint(medium) {
				width: 300px;
			}
			@include breakpoint(small) {
				width: 200px;
			}
		}
	}

	&.expanded {
		animation: 0.5s expandText linear forwards;
		display: flex !important;
		flex-direction: row !important;
	}

	&.contracted {
		animation: 0.5s contractText linear forwards;
	}

}

@keyframes rotateExpandMore {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}
@keyframes rotateExpandLess {
	from {
		transform: rotate(-180deg);
	}
	to {
		transform: rotate(0deg);
	}
}

.home-show-more {
	position: fixed;
	top: 60%;
	right: 10%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $secondary-color-background;
	background-image: url("./assets/ic_expand_more_black_24px.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	//transition: .3s ease-in-out;
	&:hover {
		background-color: $primary-color-highlight;
	}
	&.expanded {
		animation: 0.5s rotateExpandMore linear forwards;
	}
	&.contracted {
		animation: 0.5s rotateExpandLess linear forwards;
	}
}

// OPTIONS

// ABOUT

// PUBLICATIONS
.publications-item {
	margin-bottom: 10px;
	display: flex;
	&:hover {
		cursor: pointer;
		.publications-item__title {
			text-decoration: underline;
		}
	}
	&__title {

	}
	&__info {

	}
	&__icon {
		align-self: center;
		width: 80px;
		height: 80px;
		background-image: url("./assets/ic_arrow_downward_white_24dp_2x.png");
		background-repeat: no-repeat;
		cursor: pointer;
		&:not(.noaccess) {
			transform: rotate(270deg);
		}
		&.noaccess {
			border-radius: 50%;
			background-color: grey;
			background-image: url("./assets/ic_close_white_24dp_1x.png");
		}
	}
}

// SHARED
.custom-accordion {
	&__header {
		height: 80px;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		&:hover {
			//background-color: darkgrey;
		}
	}
	&__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		a {
			color: $primary-color-green;
		}
	}
	&__icon {
		height: 50px;
		width: 50px;
		background-image: url("./assets/ic_navigate_next_white_24dp_2x.png");
		background-repeat: no-repeat;
		transform: rotate(90deg);
		background-position: center;
		align-self: center;
		&.active {
			transform: rotate(270deg);
		}
	}
	&__text {
		color: darkgrey;
	}
}