* {
  box-sizing: border-box;
}
p, a, div, h1, h2, h3, h4, h5, h6 {
  font-family: monospace, sans-serif;
}

#content {
  @include breakpoint(large) {
    margin-top: 11rem;
    margin-left: 1.25rem;
  }
}