$primary-color-green: #185113;
$primary-color-background: #e7ede7;
$secondary-color-background: #749671;

$primary-color-highlight: #b9cab8;

$text-color: #e7ede7;

$background-hover: #b9cab8;

$reveal-border: none;

$reveal-background: $primary-color-background;