* {
  box-sizing: border-box;
}
[ui-view="parent"] {
  width: 500px;
  border: 1px solid;
  clear: both;
  overflow: auto;
}

[ui-view="left"],
[ui-view="right"] {
  width: 248px;
  border: 1px solid;
  float: left;
  &:empty {
    visibility: hidden;
  }
}

[ui-view="left"] {
  border-color: red;
}
[ui-view="right"] {
  border-color: green;
}
.dropdown{
  &__header{
    color:blue;
    float:left;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
    }
  }
  &__content {
    margin:10px 0 0 0;
    list-style: none;
    padding: 0 !important;
    &__item{
      //float:left;
      margin-left: 0;
    }
  }
}