<div class="row">
    <div class="columns small-10 small-centered medium-8 medium-centered large-6">

        <div ng-repeat="option in options.optionsList track by $index"
             class="custom-accordion"
             ng-class="{'active' : option.active}"
             ng-click="option.active = !option.active">

            <div class="custom-accordion__header">
                <div class="custom-accordion__title">
                    <h4><a>{{option.title}}</a></h4>
                </div>
                <div class="custom-accordion__icon"
                     ng-class="{'active' : option.active}"></div>
            </div>
            <div ng-show="option.active"
                 class="custom-accordion__text">{{option.text}}</div>
        </div>

    </div>
</div>